# eclipse
.classpath
.project
.settings

# maven
target/
build.number

# common junk
*.log
*.swp
*.diff
*.patch

# intellij
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

# Mac filesystem dust
.DS_Store

# pmd
.pmdruleset
.pmd

# vim
.*.sw[a-p]

#maven
*.versionsBackup
